<html>

<head>
	<meta charset="utf-8">
	<title> Spring</title>
	<link rel="stylesheet" th:href="@{css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{main.css}" />
</head>

<body>
	<img th:src="@{images/centrale.png}" width="20%" />
	<h1 align="center">Ajout d'un nouvel étudiant </h1>
	<form method="post" th:action="@{/save}">
		<div class="form-group">
			<label for="nom">Nom</label> <input name="nom" type="text" class="form-control" id="nom"
				placeholder="Entrer nom">
		</div>

		<div class="form-group">
			<label for="age">Age</label> <input name="age" type="text" class="form-control" id="age"
				placeholder="Entrer votre age">
		</div>

		<div class="form-group">
			<label for="email">Email</label> <input name="email" type="email" class="form-control" id="email"
				placeholder="Entrer votre email">
		</div>

		<div class="form-group">
			<label for="adresss">Adresse</label> <input name="adresse" type="text" class="form-control" id="email"
				placeholder="Entrer votre adresse">
		</div>

		<div class="form-group">
			<label for="tel">Téléphone</label> <input name="tel" type="text" class="form-control" id="tel"
				placeholder="Entrer votre mobile">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>

</html>