<html>

<head>
	<meta charset="utf-8">
	<title> Spring</title>
	<link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
	<link rel="stylesheet" th:href="@{main.css}"/>
</head>

<body>
	<img th:src="@{images/centrale.png}" width= "20%"/>
	<h1 align="center">Liste des étudiants de la formation </h1>
	pour ajouter un etudiant cliquer ici <a class="btn btn-primary" th:href ="@{/add}"> cliquer </a>
	<br/><br/>
	<table class="table table-striped" border="1" align="center">
		<tr>
			<th> Nom</th>
			<th>Age</th>
			<th>Email</th>
			<th>Adresse</th>
			<th>telephone</th>
		</tr>
		<tr th:each="student:${students}">
			<td th:text="${student.nom}"> </td>
			<td th:text="${student.age}"> </td>
			<td th:text="${student.email}"> </td>
			<td th:text="${student.adresse}"> </td>
			<td th:text="${student.tel}"> </td>
		</tr>
	</table>
</body>

</html>